@import 'variables';
@import 'fonts';
@import 'mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    //object-fit: contain;
}


body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;

    @media(max-width: $mobile) {
        overflow-x: hidden ;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1568px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    margin-top: 40px;
    justify-content: center;

    @media(min-width: 2500px) {
        align-items: center;
    }

    @media(max-width: $mobile) {
        max-width: 100%;
        overflow: hidden;
    }
}

.button {
    cursor: pointer;
}

.catalog-breadcrums {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 1396px;
    @media(max-width: $desktop) {
        max-width: 1042px;
    }
    @media(max-width: $laptop) {
        max-width: 688px;
    }
    @media(max-width: $tablet) {
        max-width: 538px;
    }
    @media(max-width: $mobile) {
        padding-left: 20px;
    }
}
@import "./blocks/breadcrums";

.catalog {
    width: 100%;
}
@import "./blocks/products";
@import "./blocks/control-btn";
@import "./blocks/counter";

