@import 'variables';
@import 'fonts';
@import 'mixins';
//@import "media";

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    //object-fit: contain;
}


body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1568px;
    margin: 0 auto;
    //height: 100vh;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.button {
    cursor: pointer;
}

.catalog-breadcrums {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 1396px;
}
@import "./blocks/breadcrums";

.catalog {
    width: 100%;
    position: relative;

}
@import "./blocks/products";
@import "./blocks/swiper";
@import "./blocks/counter";

